* {
    box-sizing: border-box;
}

#newSketchBtn {
    background-color: rgb(255, 0, 179);
    width: 100px;
    border-radius: 8px;
    border: none;
    border: 2px solid rgb(195, 0, 255);
    padding: 8px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)
}

#spaceDiv {
    height: 25px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
}

.mainContainerMobile {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
}

.containerRows {
    display: flex;
    height: 100%;
}

.gridElements {
    display: flex;
    height: 100%;
    width: 100%;
    border: 0.5px solid lightgrey;
}